body {
    text-align: center;
    font-size: 1.5em;
    background-color: #000;
    color: #fff;
    padding: 20px;
  }
  
  button {
    padding: 20px 40px;
    font-size: 1.5em;
    margin-top: 20px;
    background-color: #ffcc00;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  